h3 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

img.banner {
  width: 80%;
  height: 15%;
  display: block;
  margin: auto;
  border-radius: 3em;
}

h2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

ul li {
  text-align: center;
  list-style: square;
  margin-top: 1em;
}
