.items {
  background-color: antiquewhite;
  margin-top: 2rem;
  padding-left: 0.5rem;
}

.title{
  color: cornflowerblue;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
}
.body{
  margin-bottom: 2rem;
}
.time {
  padding-left: 2.6rem;
}
.addComment{
  padding-left: 4rem;
  color: blue;
  font-size: 2rem;
  cursor: pointer;
}
.comment {
  background-color: rgba(1, 10, 20, 0.2);
  padding-left: 4rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.delete {
  padding-left: 1rem;
  color: red;
  font-size: 1.25rem;
  cursor: pointer;
}
.edit {
  padding-left: 1rem;
  cursor: pointer;
}