
h2 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

ul li {
  text-align: center;
  list-style: square;
  margin-top: 1em;
}

.postItem{
  margin-left: 6rem;
  color: aqua;
}

.mainCat {
  margin-bottom: 2rem;
}
  

