* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

body {
  font-family: sans-serif;
}

.input {
  width: 80%;
}

.field {
  display: block;
}
.form {
  /* background-image: url(./images/horse\ 3.png); */
  /* background-size:cover;
  background-position: center center; */
}
button {
  margin: 4em;
  background-color: darkgray;
  border-radius: 2em;
  font-size: 1.2em;
  width: fit-content;
  align-items: center;
}

.form-area {
  display: flex;

  padding: 1.9em;
  flex-direction: column;
}

.grid {
  margin-left: 10px;
}

.muiTextField {
  margin: 10px 0;
}

.footer {
  margin: 20px;
  background-color: rgb(136, 141, 143);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.form {
  margin-left: 10em;
}
