.input {
  width: 80%;
}

.field {
  display: block;
}

.form {
  margin: auto;
  margin-bottom: 2em;
  position: relative;
  height: 100vh;
}

button {
  margin: 4em;
  background-color: darkgray;
  border-radius: 2em;
  font-size: 1.2em;
  width: fit-content;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .input {
    width: 60%;
  }
}
